.button-store {
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    width: 200px;
    background-color: #252c41;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    margin-right: 0px;
    text-decoration: none;
    border: none;
    cursor: pointer;

    transition: all linear 300ms;
}

.button-store:hover,
.button-store:focus {
    background-color: #fff;
    color: #252c41;
}

.button-store:active {
    transform: scale(0.95);
}

.button-store.-second {
    background-color: transparent;    
    line-height: 56px;    
    border: 2px solid #fff;
    width: 218px;   
    margin-right: 38px; 
}

.button-store.-second:hover,
.button-store.-second:focus {
    background-color: #fff;
    color: #e24647;
}

.button-store > button,
.button-store > a {
    font-size: inherit;
    background-color: inherit;
    border: none;
    color: inherit;
    text-decoration: inherit;
    
}

@media (max-width: 600px) {
    .button-store,
    .button-store.-second {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .button-store.-second {
        margin-bottom: 20px;
    }
}