.button-store {
    display: inline-block;
    height: 60px;
    width: 200px;
    background-color: #252c41;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    margin-right: 0px;
    text-decoration: none;
}