.container-store {
    box-sizing: border-box;
    background-color: #e24647;
    padding: 55px 60px 95px;
    width: 1369px;
    height: 965px;
    margin: 115px;
}

img {
    margin-top: 95px;
    float: left;
}

.description-list {
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-top: 155px;
    width: 680px;
    padding-left: 100px;
    float: right;
}

.description-title {
    font-size: 25px;
    margin-bottom: 100px;
}

.rating, 
.shipping, 
.price {
font-size: 20px;
}

.rating {
    margin-bottom: 28px;
}

.shipping {
    margin-bottom: 26px;
}

.price {
    margin-bottom: 73px;
}

.define-description{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

.know-more{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 100px;
}

.button-dd { 
    display: inline-block;
    margin-right: 40px;
}