.description-product {   
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.description-product > .title {
    font-size: 25px;
    margin-bottom: 50px;
}

.description-product > .item.-heart {
    position: absolute;
    transform: translateX(-100%);
    left: -47px;
    top: 7px;
    cursor: pointer;
}

.description-product > .item.-heart:hover {
    transform: scale(1.1) translateX(-100%);
}

.description-product .star {
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.description-product .star:hover {
    transform: scale(1.2);
}

.description-product dd:nth-of-type(2) {
    margin-left: 7px;
}

.description-product > .item {
    font-size: 20px;
    margin-bottom: 28px;
}

.description-product > .item.-info {
    width: 200px;
    text-align: right;
}

.description-product > .item.-last {
    margin-bottom: 72px;
}

.description-product .contrast {
    text-transform: uppercase;
    float: left;
}

.description-product > .text{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.description-product > .text.-more {
    margin-bottom: 0;
}

.description-product .action {
    color: inherit;
    text-decoration: none;
}

