.header-store {
    color: #fff;
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
 }

 .header-store > .title {
     font-size: 40px;
     font-family: Arial, Helvetica, sans-serif; 
     text-transform: uppercase;
     float: left;
     cursor: pointer;
 }

 .header-store .search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: inherit;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    width: 358px;
    margin-right: 65px;
 }

 .header-store > .navigation {
    font-family: "SegoeUI", Arial, Helvetica, sans-serif;
    font-size: 21px;
    float: right;
    padding-top: 10px;
 }

 .header-store .action {
     color: inherit;
     text-decoration: none;
     margin-right: 60px;
 }

 .header-store .action.-last {
     margin-right: 0px;
 }

 