.input-search {
    display: inline;
}

.input-search .icon {
    display: none;
}

.input-search .content {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: inherit;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    width: 358px;
    margin-right: 65px;
    vertical-align: bottom;
}

@media (max-width: 1030px) {

    .input-search{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        display: inline-block;
        transform: translateX(-90%);
        transition: transform 200ms cubic-bezier(0, 0, 0.96, 1.26);
    }   

    .input-search.-active {
        transform: translateX(0);
        transition: transform 200ms linear;
    }
    
    .input-search .icon {
        display: none;
        margin: 4px;
        cursor: pointer;
    }

    .input-search .icon.-active {
        display: inline-block;
    }
    
    .input-search .content {
        margin-right: 0;        
        color: #000;
        border: none;
    } 

}

@media (max-width: 440px) {
    .input-search .content {
        width: 75vw;
    }
}
